.blog {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: fit-content;
  width: 60vw;
}

.blog-info {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.blog-info-title {
  font-weight: bold;
  flex-basis: 100%;
  margin: 15px 0;
  line-height: 1.3; 
}

.blog-info span {
  margin-left: 30px;
  font-size: 14px;
}

.blog-tags span {
  background-color: #003135;
  padding: 1px 5px;
  border-radius: 5px;
  color: #f5efe6;
  font-size: 11px;
  margin-left: 10px;
}

.blog-text p {
  text-align: justify;
  font-size: 17px;
  line-height: 1.7;
}

@media screen and (max-width: 1050px) {
  .blog {
    margin: 10px;
    width: auto;
  }

  .blog-info-title {
    margin: 5px 0;
    font-size: 28px;
    padding-bottom: 5px;
  }

  .blog-info span {
    margin-left: 15px;
    font-size: 12px;
  }

  .blog-text h2 {
    font-size: 21px;
  }

  .blog-text p {
    font-size: 15px;
  }
}