.header-logo {
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  right: 108px;
  top: 36px;
  z-index: 1;
}

.header-search {
  padding: 5px 10px;
  border-radius: 6px;
  border: solid 2px #595959;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 25vw;
  height: 15px;
  position: absolute;
  left: 20px;
  top: 13px;
}

.header-art {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 55px;
}

.header-art-node {
  height: 174px;
  position: absolute;
  right: 0;
  transform: scaleX(-1);
}

.header-art-line {
  height: 49px;
  flex-grow: 1;
  margin-right: 239px;
  background-image: url("./images/geometry/geo-header-line.png");
  background-repeat: repeat-x;
  background-size: 70px;
  transform: scaleX(-1);
}

@media screen and (max-width: 1050px) {
  .header-search {
    width: 35vw;
  }
  
}
